*{
    margin: 0;
    padding: 0;
    outline: 0;
}


body{
    background-color:rgb(156, 245, 249);
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100vh;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-bottom{
    width: 500px;
    position: absolute;
    z-index: -1;
}

.img-top{
    width: 300px;
    z-index: 1;
}

.form{
    width: 100%;
}

.flex-column{
    flex-direction: column;
}

.form-section{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25vh;
    width: 75%;
}

.form-section h1{
    font-size: 40px;
    margin: 25px 0;
    color:darkslategray;
    text-transform: capitalize;
}

input{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid green;
    margin-bottom: 15px;
    margin: 10px 10px 10px 10px;
    width: 100%;
}
.email-input{
    width:85%;
    margin-right: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    color: white;
    background-color: #f59e2e;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-facebook{
    background-color: blue;
}
.btn-twitter{
    background-color: rgb(0, 187, 255);
}

.divider{
    padding-top: 10px;
}

.btn-icon{
    top: 50%;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: aliceblue;
    margin-right: 5px;
}